*{
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.fluent-input{
    background: #222222;
    border-radius: 4px;
    border: 1px solid #555555;
    border-bottom: 1px solid #999;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 15px;
    height: 33px;
    line-height: 1;
    margin: 0 5px 5px 0;
    text-align: center;
    width: 77px;
    -webkit-tap-highlight-color: transparent;
}

.fluent-input:focus{
    border-bottom: 2px solid #54C3FA;
    outline: none;
}

.blank-input{
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 15px;
    height: 33px;
    line-height: 1;
    margin: 0 5px 5px 0;
    text-align: center;
    width: 45px;
    -webkit-tap-highlight-color: transparent;
}

.blank-input:focus{
    outline: none;
}

.dsp-none{
    display: none;
}

.flex{
    display: flex;
}

.flx-column{
    flex-direction: column;
}

.flx-center-main-axis{
   justify-content: center;
}

.flx-center-cross-axis{
    align-items: center;
 }

 .flx-grow1{
    flex-grow: 1;
 }

 .ocultable{
    height: 0;
    overflow: hidden;
    transition: all 0.66s;
 }