input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]{
    text-align: center;
    width: 77px;
    line-height: 1;
    font-size: 15px;
    box-shadow: none;
    color: white;
    -webkit-tap-highlight-color: transparent;
    background: #222222;
    height: 33px;
    border-radius: 4px;
    border: 1px solid #555555;
    border-bottom: 1px solid #999;
    margin: 0 5px 5px 0;
}

input[type="number"]:focus{
    border-bottom: 2px solid #54C3FA;
    outline: none;
}

.dsp-none{
    display: none;
}
.flex{
    display: flex;
}

.flx-column{
    flex-direction: column;
}

.flx-center-main-axis{
   justify-content: center;
}

.flx-center-cross-axis{
    align-items: center;
 }

 .flx-grow1{
    flex-grow: 1;
 }