input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex-column {
    flex-direction: column;
}

.flex{
    display: flex;
}

.display-none{
    display: none
}

.display-block{
    display: block;
}

main form:first-of-type div {
    display: flex;
}

input {
    width: 100%;
}

#input-contenedor{
    justify-content: center;
}
